<custom-style>
  <style>
    vaadin-grid vaadin-grid-cell-content {
      vertical-align: top;
      font-size: larger;
    }

    v-grid-cell {
      height: 200px;
      vertical-align: top;
    }




    @media (max-width: 1000px) {
      vaadin-grid vaadin-grid-cell-content {
        vertical-align: top;
        font-size: x-small;

      }


    }

    @media (max-width: 700px) {
      vaadin-grid vaadin-grid-cell-content {
        vertical-align: top;
        font-size: x-small;

      }



    }

    @media (max-width: 550px) {
      vaadin-grid vaadin-grid-cell-content {
        text-align: left;
        font-size: xx-small;
        vertical-align: top;

      }



    }


    @media (max-width: 320px) {

      vaadin-grid vaadin-grid-cell-content {
        width: 320px;
        height: 100%;
        text-align: left;
        font-size: xx-small;

      }


      vaadin-grid-column {
        width: 100%;
      }
    }



  </style>
</custom-style>