<custom-style>
  <style>
    vaadin-grid vaadin-grid-cell-content {
      text-align: left;
      font-size: larger;
    }

    @media (max-width: 1000px) {
      vaadin-grid vaadin-grid-cell-content {
        text-align: left;
        font-size: x-small;

      }


    }

    @media (max-width: 700px) {
      vaadin-grid vaadin-grid-cell-content {
        text-align: left;
        font-size: x-small;

      }


    }

    @media (max-width: 550px) {
      vaadin-grid vaadin-grid-cell-content {
        text-align: left;
        font-size: xx-small;

      }

    }


    @media (max-width: 320px) {

      vaadin-grid vaadin-grid-cell-content img{
        width: 100%;
        height: 100%;
        text-align: left;
        font-size: xx-small;

      }
    }



  </style>
</custom-style>